/* colors */

// bg
$color-header-bg: #0D0A10;
$color-section-bg: #FFFFFF;
$color-enfp-bg:#042944;
$color-contact-bg: #78afd8;
$color-reference-bg:#55545A;
// text
$color-text:#0D0A10;
$color-text-light:#E3E8EF;
$color-header-menu-text:#E3E8EF;
$color-header-menu-selected-text:#0D75C1;
$color-headline-text: #0D0A10;
$color-landingA1Mod-text: #E3E8EF;
$color-white-text: #FFFFFF;
$color-contact-text: #E8EEF2;
// fonts
$font-header-size: 24px;
$font-headline-size: 16px;
$font-landingA1Mod-size: 60px;
// mixins
@mixin a1Background($placement, $imgUrl) {
    background: $placement / cover no-repeat url($imgUrl);
}

@mixin a1BackgroundContains($placement, $imgUrl) {
    background: $placement / contain no-repeat url($imgUrl);
}

// sizes
$height-a1: 80%;
// media + responsive
$screen-sm: 420px;
$screen-md: 700px;
$screen-lg: 960px;
$screen-xlg: 1100px;