.contact-link-container {
    position: relative;
    padding: 60px 45px;
    background-color: $color-section-bg;
    z-index: 5;
}

.contact-links-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.contact-link {
    float: left;
    width: 33.333%;
    height: 240px;
    .contact-link-padder {
        height: 100%;
    }
    .contact-link-padder:nth-child(1) {
        padding-right: 12px;
    }
    .contact-link-padder:nth-child(2) {
        padding: 0 12px;
    }
    .contact-link-padder:nth-child(3) {
        padding-left: 12px;
    }
    .contact-anchor {
        text-decoration: none;
    }
    .contact-link-item {
        text-align: center;
        height: 100%;
        background-color: $color-contact-bg;
    }
    .contact-icon {
        svg {
            margin-top: 60px;
            width: 58px;
        }
    }
    .contact-text {
        font-size: 28px;
        font-weight: 700;
        color: $color-contact-text;
        margin-top: 26px;
    }
}

.contact-resume-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 57px 0;
    a {
        font-size: 24px;
        letter-spacing: 0;
        color: $color-headline-text;
    }
}

@media(max-width: 960px) {
    .contact-link {
        width: 100%;
        margin-bottom: 24px;
        .contact-link-padder {
            width: 50%;
            padding: 0;
            margin: 0 auto;
        }
    }
    .contact-resume-wrapper {
        text-align: center;
    }
}

@media(max-width: $screen-md) {
    .contact-link {
        .contact-link-padder {
            width: 100%;
            padding: 0;
            margin: 0 auto;
        }
        .contact-text {
            font-size: 14px;
        }
    }
}