section {
    position: relative;
    padding: 16px 44px;
    background-color: #FFFFFF;
    z-index: 10;
    &:nth-of-type(2n) {
        background-color: #0d0a10;
        .work-component-item {
            .item-title {
                color: #e3e8ef;
            }
            .item-tagline {
                color: #e3e8ef;
            }
            .item-desc {
                color: #e3e8ef;
            }
        }
    }
}

.work-headline {
    font-size: 34px;
    letter-spacing: -0.3px;
    color: #0D0A10;
}

.work-headline {
    font-size: 24px;
    letter-spacing: 0;
    color: #0D0A10;
}

.work-headline-underline {
    height: 1px;
    width: 272px;
    margin: 16px 0;
    background-color: #0D0A10;
}

.work {
    margin-bottom: 16px;
    font-size: 14px;
}

.work-info {
    .work-role {
        font-size: 18px;
        color: #0D0A10;
        margin-bottom: 8px;
    }
    .work-details {
        margin: 24px 0;
        font-size: 14px;
        font-weight: 300;
        color: #0D0A10;
        ul {
            list-style-type: square;
        }
    }
}

.work-item {
    float: left;
    width: 25%;
    &.narrow {
        width: 40%;
    }
    &.wide {
        width: 60%;
    }
    &:nth-child(2n) {
        .item-padder {
            background-color: #EEEEEE;
        }
    }
    .item-padder {
        padding: 8px;
    }
}

.work-item {
    .work-item-img {
        width: 100%;
    }
}

// work component
.work-component-wrapper {
    display: table;
    width: 100%;
    .work-component-item {
        display: table-cell;
        width: 50%;
        vertical-align: middle;
    }
}

.work-component-item {
    &:nth-child(2) {
        padding-left: 24px;
    }
    img {
        display: block;
        width: 75%;
        max-width: 300px;
        margin: 0 auto;
    }
    .item-title {
        font-size: 16px;
        letter-spacing: 0.2px;
        color: $color-text;
        margin-bottom: 8px;
    }
    .item-tagline {
        font-size: 20px;
        letter-spacing: 0.2px;
        color: $color-text;
        font-weight: 600;
        margin-bottom: 16px;
    }
    .item-desc {
        font-size: 14px;
        letter-spacing: 0.3px;
        color: $color-text;
    }
    .work-read-more {
        margin-top: 40px;
        .read-more-link {
            height: 40px;
            padding: 10px 30px;
            font-size: 14px;
            color: #CCD4DD;
            text-decoration: none;
            background-color: #42576D;
        }
    }
}

// page specifics
.final-ui-img,
.feature-breakdown-img,
.create-event-img {
    width: 100%;
}

// media queries
@media(max-width: $screen-md) {
    .work-component-wrapper {
        .work-component-item {
            display: table-row;
            width: auto;
            vertical-align: middle;
            text-align: center;
            .work-item-details {
                margin-top: 24px;
            }
        }
    }
    .work-item {
        width: 50%;
        margin-bottom: 8px;
    }
}

@media(max-width: $screen-sm) {
    .work-item {
        width: 100%;
        &.narrow {
            width: 100%;
        }
        &.wide {
            width: 100%;
        }
    }
}