.work-info-quote {
    color: $color-text-light;
}

.work-quote-author {
    font-size: 16px;
    letter-spacing: 0.2px
}

.work-quote {
    font-size: 12px;
    letter-spacing: 0.4px;
    margin: 16px 0;
}