.section-case-study {
    position: relative;
    background-color: $color-section-bg;
    z-index: 5;
}

.case-study-container {
    padding: 60px 0 0 44px;
}

.case-study-wrapper {
    &:nth-child(2) {
        margin-top: 81px;
    }
}

.case-study-header {
    .case-study-title {
        font-size: 34px;
        font-weight: 400;
        color: $color-headline-text;
        letter-spacing: -0.3px;
    }
    .case-study-title-underline {
        margin: 7px 0 8px 0;
        height: 1px;
        width: 272px;
        background-color: $color-header-bg;
    }
}

.case-study-item-wrapper {
    .case-study-item {
        float: left;
        width: 33.33%;
        height: 250px;
    }
}

.case-study-link {
    display: inline-block;
    img {
        width: 296px;
    }
}

.case-study-tagline {
    width: 296px;
    font-size: 12px;
    letter-spacing: 0.4px;
    text-decoration: none;
    color: $color-headline-text;
    text-align: center;
    margin-top: 16px;
    .case-study-name {
        float: left;
        width: 45%;
        text-align: right;
    }
    .case-study-tag-break {
        float: left;
        width: 10%;
        height: 14px;
        svg {
            width: 8px;
        }
    }
    .case-study-type {
        float: left;
        width: 45%;
        text-align: left;
    }
}

@media(max-width: $screen-lg) {
    .case-study-item-wrapper {
        .case-study-item {
            width: 50%;
        }
    }
}

@media(max-width: $screen-md) {
    .case-study-container {
        padding: 24px;
    }
    .case-study-header {
        text-align: center;
        .case-study-title-underline {
            margin: 7px auto 8px auto;
        }
    }
    .case-study-item-wrapper {
        .case-study-item {
            text-align: center;
            width: 100%;
            margin: 14px 0;
        }
    }
    .case-study-tagline {
        margin: 16px auto 0 auto;
    }
}

@media(max-width: $screen-sm) {
    .case-study-link img {
        width: 100%;
    }
}