$footer-height: 52px;
.footer {
    background-color: #0d0a10;
    bottom: 0;
    height: $footer-height;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.footer-nav-container {
    height: $footer-height;
    line-height: $footer-height;
    position: relative;
}

.footer-back-wrapper,
.footer-next-wrapper {
    float: left;
    width: 50%;
    svg {
        width: 10px;
        transform: translateY(2px);
        margin: 0 5px;
    }
    a {
        color: #E3E8EF;
        text-decoration: none;
    }
}

.footer-next-wrapper {
    text-align: right;
}

.footer-up-wrapper {
    cursor: pointer;
    left: 50%;
    position: absolute;
    transition: .2s;
    width: 20px;
    &:hover {
        transform: scale(1.1);
        .footer-up-link svg path {
            fill: #DADADA;
        }
    }
    .footer-up-link svg {
        margin-top: 10px;
        transform: rotate(90deg);
        width: 20px;
    }
}

@media(max-width: $screen-md) {
    .footer-back-wrapper,
    .footer-next-wrapper {
        a {
            font-size: 12px;
        }
    }
}