#goback-header {
    position: absolute;
    top: 60px;
    width: 100%;
    z-index: 10;
}

.goback-container {
    padding: 33px;
    &.light .btn-goback {
        color: $color-white-text;
        svg path {
            fill: $color-white-text;
        }
    }
}

.btn-goback {
    cursor: pointer;
    font-size: 24px;
    color: $color-text;
    letter-spacing: 0;
    height: 33px;
    line-height: 33px;
    border: none;
    background: transparent;
    &:hover {
        text-decoration: underline;
    }
    svg {
        width: 16px;
        margin-right: 10px;
    }
}