@import 'helpers/variables';
@import 'typo';
html,
body {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;
}

.clear:before,
.clear:after {
    display: table;
    content: '';
    clear: both;
}

.padding-left {
    &.sm {
        padding-left: 8px;
    }
    &.md {
        padding-left: 16px;
    }
}

.padding-right {
    &.sm {
        padding-right: 8px;
    }
    &.md {
        padding-right: 16px;
    }
}

.section-work-wrapper {
    margin-bottom: 40px;
}

@import 'footer';
@import 'menu';