@import 'variables.scss';
@import 'typo.scss';
html,
body {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;
}

.clear:before,
.clear:after {
    display: table;
    content: '';
    clear: both;
}

@import 'menu.scss';
@import 'landingA1Mod.scss';
@import 'references.scss';