.section-references {
    position: relative;
    background-color: #55545a;
    z-index: 5;
}

.references-container {
    display: table;
    padding: 24px 0;
    height: 250px;
    &>* {
        vertical-align: middle;
    }
    .reference-pager {
        display: table-cell;
        width: 5%;
    }
    .references-wrapper {
        display: table-cell;
        width: 90%;
    }
}

.reference-pager {
    text-align: center;
    cursor: pointer;
    svg {
        width: 24px;
        path {
            fill: #0d75c1; // FIX ME - update with a good enabled color + variable
        }
    }
    &.disable {
        cursor: default;
        svg path {
            fill: #858489; // FIX ME - update with a good disable color + variable
        }
    }
}

.reference-item {
    float: left;
    width: 50%;
    .reference-img-wrapper {
        float: left;
        width: 25%;
    }
    .reference-info {
        float: left;
        width: 75%;
    }
}

.reference-img-wrapper {
    .reference-image {
        width: 115px;
        border-radius: 115px;
        margin-top: 10%;
    }
}

.reference-info {
    .reference-info-padder {
        padding-right: 24px;
    }
    .reference-name {
        font-size: 16px;
        color: #e3e8ef;
        letter-spacing: 0.2px;
        margin-bottom: 3px;
    }
    .reference-position {
        font-size: 24px;
        color: #0d75c1;
        margin-bottom: 11px;
    }
    .reference-rec {
        font-size: 12px;
        color: #e3e8ef;
        letter-spacing: 0.4px;
    }
}

@media(max-width: 1100px) {
    .reference-item {
        float: none;
        width: 100%;
        margin: 0 auto;
        padding: 48px 0;
    }
}

@media(max-width: 560px){

}