.section-references {
    position: relative;
    background-color: #0b0a13;
    opacity: .7;
}

.references-container {
    padding: 24px 0;
    .reference-pager {
        float: left;
        width: 5%;
    }
    .references-wrapper {
        float: left;
        width: 90%;
    }
}

.reference-pager {
    text-align: center;
    cursor: pointer;
    svg {
        width: 24px;
        path {
            fill: #0d75c1; // FIX ME - update with a good enabled color + variable
        }
    }
    &.disable svg path {
        fill: #858489; // FIX ME - update with a good disable color + variable
    }
}

.reference-item {
    float: left;
    width: 50%;
    .reference-img-wrapper {
        float: left;
        width: 25%;
    }
    .reference-info {
        float: left;
        width: 75%;
    }
}

.reference-img-wrapper {
    .reference-image {
        width: 115px;
        border-radius: 115px;
    }
}

.reference-info {
    .reference-info-padder {
        padding-right: 24px;
    }
    .reference-name {
        font-size: 16px;
        color: #e3e8ef;
        letter-spacing: 0.2px;
        margin-bottom: 3px;
    }
    .reference-position {
        font-size: 24px;
        color: #0d75c1;
        margin-bottom: 11px;
    }
    .reference-rec {
        font-size: 12px;
        color: #e3e8ef;
        letter-spacing: 0.4px;
    }
}