//colors
$color-header-bg: #0d0a10;
$color-header-menu-text:#e3e8ef;
$color-header-menu-selected-text:#0d75c1;
$color-landingA1Mod-text: #e3e8ef;
// fonts
$font-header-size: 24px;
$font-landingA1Mod-size: 60px;